.DS_Store
*.json
*.svg
*.applescript
*.png

.config/tmux/plugins
.config/alacritty/themes
.config/coc/extensions
.config/karabiner/automatic_backups
.config/raycast/extensions
.config/gh
.config/github-copilot
